@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #FDF9F7;
  --font-koh-santepheap: var(--font-koh-santepheap);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #FDF9F7;
    --foreground: #F1F1F1;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .mask-imgs {
    -webkit-mask-image: url('/masks/mask.svg');
    mask-image: url('/masks/mask.svg');
     -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: cover;
    mask-size: cover;
  }
}