@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F6F3F0;
  --foreground: #000000;
  --font-koh-santepheap: var(--font-koh-santepheap);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #F6F3F0;
    --foreground: #000000;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .mask-imgs {
    -webkit-mask-image: url('/masks/mask.svg');
    mask-image: url('/masks/mask.svg');
     -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: cover;
    mask-size: cover;
  }
}